<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="traceID" converterClass="kamon.logback.LogbackTraceIDConverter" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                <pattern>{"traceID": "%traceID"}</pattern>
            </provider>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

</configuration>